project_name = "itassetpulse"
environment  = "demo"
aws_region   = "eu-north-1"

image_tag = "latest"

eks_cluster_version = "1.34"

kubernetes_namespace = "itassetpulse"

eks_node_instance_types = ["t3.small"]
eks_node_desired_size   = 1
eks_node_min_size       = 1
eks_node_max_size       = 2

vpc_cidr = "10.0.0.0/16"

public_subnet_cidrs = [
  "10.0.1.0/24",
  "10.0.2.0/24"
]

private_subnet_cidrs = [
  "10.0.11.0/24",
  "10.0.12.0/24"
]

# Backend application secrets
# Do not put real secret values in this example file.
# Copy this file to terraform.tfvars and set real values locally.

mongodb_uri = "mongodb+srv://username:password@example.mongodb.net/itassetpulse?retryWrites=true&w=majority"
jwt_secret  = "replace-with-a-long-random-local-demo-secret"